* {
  margin: 0;
  padding: 0;
}

.top-section {
  box-sizing: border-box;
  width: 100%;
  height: 170vh;
  transition: 0.8s;
  overflow: hidden;
}

.bg-images {
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation-name: slide-images;
  background-image: url(./Fleming-Images/slide-v1-1.jpg);
  background-size: cover;
  background-position: center;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
}

@keyframes slide-images {
  0% {
    background-image: url(./Fleming-Images/slide-v1-1.jpg);
  }

  50% {
    background-image: url(./Fleming-Images/slide-v1-2.jpg);
    transform: scale(1.1);
  }

  100% {
    background-image: url(./Fleming-Images/slide-v1-3.jpg);
    transform: scale(1.2);
  }
}

.top-side-image {
  position: absolute;
  z-index: 100;
  overflow: hidden;
}

.top-side-image img {
  animation: fade-image linear infinite 2s alternate;
  transition: 1s;
}

@keyframes fade-image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

.top-ul {
  position: absolute;
  z-index: 2000;
}

.top-nav {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.top-logo {
  position: absolute;
  z-index: 10000;
  top: 40px;
  left: 50px;
}

.top-ul ul {
  display: flex;
  list-style: none;
  gap: 28px;
  box-sizing: border-box;
  position: relative;
  top: 80px;
}

.top-ul li {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  cursor: pointer;
  position: relative;
  transition: 1s;
}

.top-ul li:hover {
  color: #fca817;
}

.top-ul li::after {
  content: "";
  height: 480%;
  width: 127%;
  background: #ffffff34;
  position: absolute;
  top: -220px;
  left: -10;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.top-ul li:hover::after {
  transform: translateY(116px);
  opacity: 1;
}

.top-ul li:nth-child(1)::after {
  content: "";
  position: absolute;
  background: #ffffff59;
  height: 420%;
  width: 113%;
  top: -167px;
  left: -4;
  transform: translateY(80px);
  opacity: 1;
}

.top-ul li:nth-child(1):hover::after {
  transform: translateY(80px);
  opacity: 1;
}

.top-icons-btn {
  display: flex;
  gap: 10px;
  position: relative;
  left: 480px;
  flex-direction: column;
  row-gap: 30px;
}

.top-icons {
  display: flex;
  gap: 10px;
}

.top-icons-btn i {
  color: gray;
  background-color: #43434a;
  padding: 20px 15px;
  border-radius: 0px 0px 30px 30px;
  cursor: pointer;
  transition: 0.7s;
}

.top-icons-btn i:hover {
  background-color: #fca817;
  color: black;
}

.top-icons-btn i::after {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: #fca817;
  border-radius: 170px;
  bottom: 93;
  transform: translateX(-1px);
  transition: 0.7s;
}

.top-icons-btn i:hover::after {
  background-color: black;
}

.main-btn {
  height: 9.5vh;
  width: 15.2vw;
  background-color: #fca817;
  border-radius: 30px;
  border: none;
  position: relative;
  top: -10px;
  left: -3.5%;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.207);
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  /* padding: 18px 25px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  position: relative;
  background-color: #fca817;
  border: none;
  overflow: hidden;
  cursor: pointer; */
}

.main-btn img {
  position: absolute;
  right: 0;
  top: 0;
}

.main-btn::after {
  content: "";
  background: #1f2026;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  transform: rotateY(90deg);
  z-index: -1;
  transition: 0.3s;
  opacity: 0;
}

.main-btn:hover::after {
  transform: rotateY(0deg);
  transition: 1s;
  opacity: 1;
}

.main-btn:hover {
  color: white;
}

.main-heading {
  position: absolute;
  top: 30%;
  z-index: 100;
  /* border: 2px solid green; */
  width: 100%;
  display: flex;
  row-gap: 90px;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.main-heading h1 {
  font-size: 4em;
  font-family: "Poppins", sans-serif;
  width: 70%;
  text-align: center;
  color: rgba(255, 255, 255, 0.603);
}

.main-heading-btns {
  display: flex;
  gap: 20px;
}

.started {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.281);
  color: rgba(255, 255, 255, 0.47);
}

.started:hover {
  color: black;
}

.started::after {
  background: #fca817;
}

.contact-box {
  position: absolute;
  /* border: 1px solid red; */
  width: 20%;
  padding: 20px;
  /* height: 100px;
  width: 200px; */
  z-index: 2000;
  top: 130%;
  left: 10%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-box h3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: white;
  font-weight: 400;
}

.contact-box p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.counting-div {
  position: absolute;
  right: 0;
  z-index: 100000;
  border-radius: 50px 0px 0px 50px;
  /* padding: 30px; */
  height: 50%;
  width: 8%;
  background-color: #44444f9a;
  top: 140%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counting {
  height: 80%;
  width: 80%;
  /* border: 1px solid #fca817; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.counting p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

.counting p:nth-child(1) {
  color: #fca817;
}

.thinking-compnies {
  /* width: 100%; */
  background-color: #1f2026;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.compnies-heading {
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 10px;
}

.compnies-heading span {
  color: #fca817;
}

.compnies-heading h1 {
  font-family: "Poppins", sans-serif;
  font-size: 55px;
  color: white;
  text-align: center;
  width: 70%;
  font-weight: 400;
}

.compnies-images {
  width: 90%;
  /* border: 1px solid #fca817; */
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.compnies-images img {
  height: 120px;
  width: 150px;
  filter: grayscale(100%);
  transition: 0.5s;
  cursor: pointer;
}

.compnies-images img:hover {
  filter: grayscale(0%);
}

.service-section {
  height: 75vh;
  width: 100%;
  background-image: linear-gradient(rgba(5, 5, 5, 0.495)),
    url(./Fleming-Images/service-style1-area_bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  overflow: hidden !important;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 200;
}

.service-section .service-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 220px;
  animation-name: zoom-img;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.service-section .service-img-2 {
  bottom: -20;
  position: absolute;
  right: 0;
  position: absolute;
  height: 220px;
  animation-name: zoom-img;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes zoom-img {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.servics-box {
  width: 95%;
  /* border: 1px solid #fca817; */
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 10px; */
  align-items: center;
  row-gap: 80px;
  justify-content: space-evenly;
  margin: 50px auto;
  z-index: 100;
}

.service-card {
  width: 26%;
  /* border: 1px solid green; */
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.service-card img {
  height: 60px;
  width: 60px;
  transition: 1s;
}

.service-description {
  display: flex;
  flex-direction: column;
}

.service-card h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 80%;
  /* letter-spacing: -1px; */
  /* word-spacing: 2px; */
  transition: 0.5s;
  cursor: pointer;
}

.service-card h3:hover {
  color: #fca817;
}

.service-card span {
  color: #fca817;
  font-size: 25px;
  font-weight: 800;
  margin-right: 10px;
}

.service-card p {
  color: #6f6f6f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.service-card:hover img {
  transform: rotateY(180deg);
}

.about-heading {
  /* border: 1px solid black; */
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.about-heading h3 {
  font-size: 0.9em;
  color: #fca817;
  font-weight: 500;
}

.about-heading p {
  width: 48%;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}

.about-main {
  /* border: 1px solid #000; */
  /* width: 98.5%; */
  display: flex;
  padding: 10px;
}

.about-pics {
  width: 50%;
  /* border: 2px solid red; */
  display: flex;
  gap: 30px;
}

.left-card {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  width: 40%;
  gap: 20px;
  align-items: end;
}

.left-picture {
  width: 55%;
  height: 70vh;
  overflow: hidden;
  border-radius: 10px;
}

.left-pic {
  width: 100%;
  /* border: 1px solid green; */
  height: 100%;
  border-radius: 10px;
  background-image: url(./Fleming-Images/about-style1-image-1.jpg);
  background-size: cover;
  filter: grayscale(100%);
  position: relative;
  transform: scale(1);
  transition: 1s;
}

.left-pic:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.left-pic::after {
  content: "";
  position: absolute;
  height: 50%;
  width: 50%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  left: 20;
  transform: scale(0);
  top: -20px;
}

.left-pic:hover::after {
  transition: 2s;
  transform: scale(3);
  left: -100%;
  top: -150px;
}

.left-card button {
  /* width: 13%; */
  padding: 25px 30px;
  border-radius: 10px;
  background-color: #fca817;
  border: none;
  position: relative;
  left: -50px;
}

.left-card i {
  font-size: 37px;
  color: #6f6f6f;
}

.right-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
  position: relative;
}
.right-pic-top {
  /* border: 2px solid green; */
}

.right-pic-1-div {
  width: 78%;
  height: 42vh;
  border-radius: 10px;
  overflow: hidden;
}

.right-pic-1 {
  width: 100%;
  height:100%;
  border-radius: 10px;
  border: 1px solid #fca817;
  background-image: url(./Fleming-Images/about-style1-image-2.jpg);
  background-size: 100% 100%;
  filter: grayscale(100%);
  z-index: 1000;
  position: relative;
  overflow: hidden;
  transform: scale(1);
  transition: 1s;
}

.right-pic-top:hover .right-pic-1 {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.right-pic-1::after {
  content: "";
  position: absolute;
  height: 60%;
  width: 60%;
  left: 40;
  top: 10%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(0);
}

.right-pic-top:hover .right-pic-1::after {
  transform: scale(3.4);
  transition: 2s;
  left: -100%;
  top: -90%;
  /* transform: translate(-100px); */
}

.right-pic-2-div {
  width: 98%;
  height: 45vh;
  border-radius: 10px;
  overflow: hidden;
}

.right-pic-2 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #fca817;
  background-image: url(./Fleming-Images/about-style1-image-3.jpg);
  background-size: 100% 100%;
  filter: grayscale(100%);
  position: relative;
  transition: 1s;
}

  .right-pic-2:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
  }

.right-pic-2::after {
  content: '';
  position: absolute;
  height: 70%;
  width: 60%;
  border-radius: 50%;
  left: 20%;
  top: 5%;
  background: rgba(255, 255, 255, 0.3);
  transform: scale(0);
}

.right-pic-2:hover::after {
  transform: scale(2.5);
  left: -100%;
  top: -70%;
  transition: 2s;
}

.right-card img {
  position: absolute;
  right: -80px;
  height: 250px;
  top: -10;
  animation-name: move-image;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
  transition: 1s;
}

@keyframes move-image {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.09);
  }
}

.right-card h2 {
  position: absolute;
  writing-mode: vertical-lr;
  right: 0;
  font-family: "Poppins", sans-serif;
  z-index: 100;
  font-size: 24px;
  top: 20;
}

.about-content-side {
  /* border: 3px solid green; */
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.about-content {
  width: 90%;
  height: 80%;
  box-sizing: border-box;
  padding-left: 70px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: start;
  justify-content: center;
  gap: 30px;
}

.about-content h2 {
  font-family: "Poppins", sans-serif;
  /* padding: 20px; */
  width: 82%;
  /* padding-left: 10px; */
  font-size: 23px;
  /* border: 1px solid red; */
}

.about-content h5 {
  width: 85%;
  font-size: 15px;
  color: rgb(23, 23, 23);
  font-weight: 700;
  /* padding: 20px; */
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
}

.about-content p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #1f2026cc;
  width: 80%;
  /* padding: 20px; */
  /* border: 1px solid red; */
}

.about-style-pic {
  /* border: 1px solid red; */
  width: 40%;
  padding: 5px;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.about-style-pic img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
  position: absolute;
}

.about-style-pic img:nth-child(1) {
  position: absolute;
  left: 10;
}
.about-style-pic img:nth-child(2) {
  position: absolute;
  left: 20;
}
.about-style-pic img:nth-child(3) {
  position: absolute;
  left: 30;
}
.about-style-pic img:nth-child(4) {
  position: absolute;
  left: 40;
}
.about-style-pic img:nth-child(5) {
  position: absolute;
  left: 50;
}

.about-style-pic-content {
  /* border: 1px solid red; */
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-style-pic-content h4 {
  font-size: 13px;
  letter-spacing: 0.2;
}

.about-style-pic-content h5 {
  font-size: 12px;
  color: #1f2026c7;
  width: 100%;
}
